#!/bin/bash

CWD=$(cd $(dirname $0)/; pwd)
cd $CWD

usage()
{
	echo $"Usage: $0 {start|stop|restart|status|build|pack} <module>"
	exit 0
}

start_all()
{
	# http: 8022
	test -x falcon-ng-portal && start portal
	# http: 8030 ; rpc: 8031
	test -x falcon-ng-index && start index
	# http: 8036 ; rpc: 8037
	test -x falcon-ng-tsdb && start tsdb
	# http: 8040 ; rpc: 8041
	test -x falcon-ng-transfer && start transfer
	# http: 8032
	test -x falcon-ng-judge && start judge
	# http: 2188
	test -x falcon-ng-syscollector && start syscollector
	# http: 2189
	test -x falcon-ng-logcollector && start logcollector
}

start()
{
	mod=$1
	if [ "x${mod}" = "x" ]; then
		usage
		return
	fi

	if [ "x${mod}" = "xall" ]; then
		start_all
		return
	fi

	binfile=falcon-ng-${mod}

	if [ ! -f $binfile ]; then
		echo "file[$binfile] not found"
		exit 1
	fi


	if [ $(ps aux|grep -v grep|grep -v control|grep "$binfile" -c) -gt 0 ]; then
		echo "${mod} already started"
		return
	fi

	mkdir -p logs/$mod
	nohup $CWD/$binfile &> logs/${mod}/stdout.log &

	for((i=1;i<=15;i++)); do
		if [ $(ps aux|grep -v grep|grep -v control|grep "$binfile" -c) -gt 0 ]; then
			echo "${mod} started"
			return
		fi
		sleep 0.2
	done

	echo "cannot start ${mod}"
	exit 1
}

stop_all()
{
	test -x falcon-ng-logcollector && stop logcollector
	test -x falcon-ng-syscollector && stop syscollector
	test -x falcon-ng-transfer && stop transfer
	test -x falcon-ng-tsdb && stop tsdb
	test -x falcon-ng-judge && stop judge
	test -x falcon-ng-index && stop index
	test -x falcon-ng-portal && stop portal
}

stop()
{
	mod=$1
	if [ "x${mod}" = "x" ]; then
		usage
		return
	fi

	if [ "x${mod}" = "xall" ]; then
		stop_all
		return
	fi

	binfile=falcon-ng-${mod}

	if [ $(ps aux|grep -v grep|grep -v control|grep "$binfile" -c) -eq 0 ]; then
		echo "${mod} already stopped"
		return
	fi

	ps aux|grep -v grep|grep -v control|grep "$binfile"|awk '{print $2}'|xargs kill
	for((i=1;i<=15;i++)); do
		if [ $(ps aux|grep -v grep|grep -v control|grep "$binfile" -c) -eq 0 ]; then
			echo "${mod} stopped"
			return
		fi
		sleep 0.2
	done

	echo "cannot stop $mod"
	exit 1
}

restart()
{
	mod=$1
	if [ "x${mod}" = "x" ]; then
		usage
		return
	fi

	if [ "x${mod}" = "xall" ]; then
		stop_all
		start_all
		return
	fi

	stop $mod
	start $mod

	status
}

status()
{
	ps aux|grep -v grep|grep "falcon-ng"
}

build_one()
{
	mod=$1
	go build -o falcon-ng-${mod} src/modules/${mod}/${mod}.go
}

build()
{
	mod=$1
	if [ "x${mod}" = "x" ]; then
		build_one logcollector
		build_one syscollector
		build_one tsdb
		build_one index
		build_one judge
		build_one transfer
		build_one portal
		return
	fi

	build_one $mod
}

reload()
{
	mod=$1
	if [ "x${mod}" = "x" ]; then
		echo "arg: <mod> is necessary"
		return
	fi
	
	build_one $mod
	restart $mod
}

pack()
{
	v=$(date +%Y-%m-%d-%H-%M-%S)
	tar zcvf falcon-ng-$v.tar.gz control \
	plugin \
	supervisord.d \
	falcon-ng-logcollector etc/logcollector.yml \
	falcon-ng-syscollector etc/syscollector.yml \
	falcon-ng-tsdb etc/tsdb.yml \
	falcon-ng-index etc/index.yml \
	falcon-ng-judge etc/judge.yml \
	falcon-ng-transfer etc/transfer.yml \
	falcon-ng-portal etc/portal.yml
}

case "$1" in
	start)
		start $2
		;;
	stop)
		stop $2
		;;
	restart)
		restart $2
		;;
	status)
		status
		;;
	build)
		build $2
		;;
	reload)
		reload $2
		;;
	pack)
		pack
		;;
	*)
		usage
esac
